manifest {
	author = "Christian Schudoma, Daniel Podlesny"
	defaultBranch = "main"
	description = "Metaphlan4/mOTUs -> samestr/humann workflow"
	name = "metaphlow"
	nextflowVersion = ">=22.10.6"
	version = "0.19.3"
}

process {
	errorStrategy = { task.attempt <= 3 ? "retry" : "ignore" }
	maxRetries = 3
	cache = "lenient"

	withName: prepare_fastqs {
		// no scratch dir, no container!
		executor = "local"
		container = null
		scratch = null
	}

	withLabel: humann3 {
		container = "quay.io/biocontainers/humann:3.7--pyh7cba7a3_1"
	}

	withLabel: samestr {
		container = "ghcr.io/danielpodlesny/samestr:v1.2025.10"
	}

	withLabel: kraken2 {
		container = "registry.git.embl.org/schudoma/kraken2-docker:latest"
	}

	withLabel: metaphlan4 {
		container = "quay.io/biocontainers/metaphlan:4.1.0--pyhca03a8a_0"
	}

	withLabel: bbduk {
		container = "quay.io/biocontainers/bbmap:39.06--h92535d8_0"
	}

	withName: fastqc {
		container = "quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0"
	}

	withName: multiqc {
		container = "quay.io/biocontainers/multiqc:1.21--pyhdfd78af_0"
	}

	withName: run_motus {
		container = "quay.io/biocontainers/motus:3.1.0--pyhdfd78af_0"
	}

}


params {

	// samestr parameters
	sstr_profiler = "metaphlan4"
	run_mode = "full"
	motus_n_marker_genes = 1
	motus_readcount_type = "insert.raw_counts"
	motus_run_mapsnv = true

	// nevermore parameters
	publish_mode = "copy"
	skip_alignment = true

}
