executor {
    $slurm {
        queueSize = 30
    }
    $local {
        cpus = 1
        memory = '4 GB'
    }
}

process {
    cache = "lenient"
	scratch = "/scratch/schudoma/nf_tmp"
    withName: fastqc {
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 2
        memory = {4.GB * task.attempt}
        time = {4.h * task.attempt}
        maxRetries = 3
    }
    withName: multiqc {
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 1
        memory = {4.GB * task.attempt}
        time = {4.h * task.attempt}
        maxRetries = 3
    }
    withName: flagstats {
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 2
        //memory = {8.GB * task.attempt}
        //memory = {bam.size() < 10.GB ? 8.GB * task.attempt : (bam.size() < 30.GB ? 16.GB * task.attempt : 32.GB * task.attempt)}
        memory = {2.GB * task.attempt}
        time = {4.h * task.attempt}
        maxRetries = 3
    }
    withLabel: kraken2 {
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
        memory = {64.GB * task.attempt}
        time = '7d'
        maxRetries = 3
    }
    withLabel: bbduk {
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 4
        memory = {8.GB * task.attempt}
        time = '2h'
        maxRetries = 3
    }
    withName: concat_singles {
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 1
        memory = '2.GB'
        time = '8h'
        maxRetries = 3
    }
    withLabel: align {
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
		// 16.GB for IGC, 128.GB for human-gut GMGC
        memory = {128.GB * task.attempt}
        time = '14d'
        maxRetries = 3
    }
    withLabel: samtools {
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
		// 16.GB for IGC, 64.GB for human-gut GMGC
        memory = {64.GB * task.attempt}
        time = '14d'
        maxRetries = 3
    }
    withName: run_gffquant {
        executor = "slurm"
        errorStrategy = {task.attempt <= 4 ? "retry" : "ignore"}
        cpus = 1
        memory = {32.GB * task.attempt}
        time = {2.d * task.attempt}
        maxRetries = 4
    }
    withName: collate_feature_counts {
        executor = "slurm"
        errorStrategy = {task.attempt <= 4 ? "retry" : "ignore"}
        cpus = 1
        memory = {16.GB * task.attempt}
        time = {2.d * task.attempt}
        maxRetries = 4
    }
	withName: merge_single_fastqs {
        executor = "slurm"
	    errorStrategy = {task.attempt <= 4 ? "retry" : "ignore"}
	    cpus = 1
	    memory = {8.GB * task.attempt}
	    time = {2.d * task.attempt}
	    maxRetries = 4
	}
    withName: collate_stats {
        errorStrategy = {task.attempt <= 4 ? "retry" : "ignore"}
        maxRetries = 4
    }
}

singularity {
    enabled = true
    autoMounts = true
}